# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
duel-link-itch.zip

# misc
.DS_Store
*.pem
.env*.local
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
next-env.d.ts
*.tsbuildinfo
